<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AGIS.Integrations.Payment.AuthorizeNET.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <AGIS.Integrations.Payment.AuthorizeNET.Properties.Settings>
            <setting name="AGIS_Integrations_Payment_AuthorizeNET_net_authorize_api_Service"
                serializeAs="String">
                <value>https://api.authorize.net/soap/v1/Service.asmx</value>
            </setting>
        </AGIS.Integrations.Payment.AuthorizeNET.Properties.Settings>
    </applicationSettings>
</configuration>